{{!< default}} {{#contentFor 'title' }}{{ meta_title }}{{/contentFor}}
 {{#get "posts" limit="5"
  filter="tag:{{tag.slug}}" include="authors,tags" order="featured desc " as |items|}} 
  {{#if items}}
  <div class="swiper-container swiper-banner c-home-top-banner">
  <div class="swiper-wrapper">
    {{#foreach posts}}
    <div class="swiper-slide">
      <a href="{{url}}">
        <div class="c-post-card__image--wrap">
          {{#if feature_image}}
          <img class="c-post-card__image"
            alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
            src="{{img_url feature_image}}" />
          {{/if}}
        </div>
      </a>
    </div>
    {{/foreach}}

  </div>
  <div class="swiper-page"></div>
  <div class="swiper-button-prev swiper-banner-btn swiper-banner-btn-prev"><svg width="26" height="26"
      viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M17.3555 21.8572L8.07146 12.5717L17.3572 3.28575" stroke="#999999" stroke-width="2" />
    </svg>
  </div>
  <div class="swiper-button-next swiper-banner-btn swiper-banner-btn-next"><svg width="26" height="26"
      viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.64449 3.85718L17.9285 13.1427L8.64282 22.4286" stroke="#999999" stroke-width="2" />
    </svg>
  </div>
  </div>
  {{/if}}
  {{/get}}
  <ul id="0" style="display: none; margin: 40px auto; text-align: center; column-gap: 36px; justify-content: center"
    class="c-home-hero__secondary-navigation">
    {{#foreach @site.secondary_navigation as |nav|}}
    {{#match @index 1}}
    <div class="dropdown c-nav__item c-nav__item--{{slug}}" style="margin-right: 0">
      <div class="dropbtn">{{nav.label}}</div>
      <div class="dropdown-content">
        {{#foreach @site.global_first_navigation as |sub_nav|}}
        <a onclick="saveToLocalStorage(-1)" href="{{ sub_nav.url }}" url="{{sub_nav.url}}"
          id="secondary_nav_item_{{@index}}" class=" c-nav__link c-home-hero__secondary-navigation--item">{{
          label }}</a>
        {{/foreach}}
      </div>
    </div>
    {{else}}
    <div class="c-nav__item c-nav__item--{{slug}} c-secondary-nav" style="margin-right: 0">
      <a href="{{ nav.url }}" url="{{nav.url}}"
        class=" c-nav__link c-home-hero__secondary-navigation--item c-secondary-nav"
        style="{{#if current}}color: red !important;{{/if}}">{{label}}</a>
    </div>
    {{/match}}
    {{/foreach}}
  </ul>
  <ul id="1" style="display: none; margin: 40px auto; text-align: center; column-gap: 36px; justify-content: center"
    class="c-home-hero__secondary-navigation">
    {{#foreach @site.global_second_navigation as |nav|}}
    {{#match @index 1}}
    <div class="dropdown c-nav__item c-nav__item--{{slug}}" style="margin-right: 0">
      <div class="dropbtn">{{nav.label}}</div>
      <div class="dropdown-content">
        {{#foreach @site.global_third_navigation as |sub_nav|}}
        <a onclick="saveToLocalStorage(-1)" href="{{ sub_nav.url }}" url="{{sub_nav.url}}"
          id="secondary_nav_item_{{@index}}" class=" c-nav__link c-home-hero__secondary-navigation--item">{{
          label }}</a>
        {{/foreach}}
      </div>
    </div>
    {{else}}
    <div class="c-nav__item c-nav__item--{{slug}} c-secondary-nav" style="margin-right: 0">
      <a href="{{ nav.url }}" url="{{nav.url}}"
        class=" c-nav__link c-home-hero__secondary-navigation--item c-secondary-nav"
        style="{{#if current}}color: red !important;{{/if}}">{{label}}</a>
    </div>
    {{/match}}
    {{/foreach}}
  </ul>
  <div class="o-grid">
    <div class="o-grid__col">
      <div class="c-archive-grid__outer">
        {{> loop }}
      </div>
    </div>
  </div>

  <div class="o-grid">
    <div class="o-grid__col">
      {{ pagination }}
    </div>
  </div>
  <div class="o-grid">
    <div class="o-grid__col">
      {{> subscribe-box }}
    </div>
  </div>
  <script>
    window.onload = function () {
      const storedNavId = sessionStorage.getItem('nav_id');
      for (let i = 0; i < 4; i++) {
        if (i == storedNavId) {
          document.getElementById(i.toString()).style.display = "flex";
        }
        else {
          document.getElementById(i.toString()).style.display = "none";
        }
      }
    }

    function saveToLocalStorage(idx) {
      try {
        console.log(idx);
        sessionStorage.setItem("nav_id", JSON.stringify(idx));
      } catch (error) {
        console.error('로컬 스토리지에 값을 저장하는 동안 오류가 발생했습니다:', error);
      }
    }
  </script>